# Changelog

{{#tags}}


{{!#ifReleaseTag .}}
<!-- "{{.}}" is a release tag -->
{{!/ifReleaseTag}}

## [{{name}}](https://github.com/bsorrentino/langgraph4j/releases/tag/{{name}}) ({{tagDate .}})

{{#ifContainsType commits type='feat'}}
### Features

    {{#commits}}
      {{#ifCommitType . type='feat'}}
 * {{#eachCommitScope .}} **{{.}}** {{/eachCommitScope}} {{{commitDescription .}}} ([{{hash}}](https://github.com/bsorrentino/langgraph4j/commit/{{hashFull}}))
   {{#messageBodyItems}} 
     > {{.}}
   {{/messageBodyItems}}
   
      {{/ifCommitType}}
    {{/commits}}
{{/ifContainsType}}

{{#ifContainsType commits type='fix'}}
### Bug Fixes

    {{#commits}}
      {{#ifCommitType . type='fix'}}
 - {{#eachCommitScope .}} **{{.}}** {{/eachCommitScope}} {{{commitDescription .}}} ([{{hash}}](https://github.com/bsorrentino/langgraph4j/commit/{{hashFull}}))
   {{#messageBodyItems}}
     > {{.}}
   {{/messageBodyItems}}

      {{/ifCommitType}}
    {{/commits}}
{{/ifContainsType}}

{{#ifContainsType commits type='docs'}}
### Documentation

    {{#commits}}
      {{#ifCommitType . type='docs'}}
 - {{#eachCommitScope .}} **{{.}}** {{/eachCommitScope}} {{{commitDescription .}}} ([{{hash}}](https://github.com/bsorrentino/langgraph4j/commit/{{hashFull}}))
   {{#messageBodyItems}}
     > {{.}}
   {{/messageBodyItems}}

      {{/ifCommitType}}
    {{/commits}}
{{/ifContainsType}}

{{#ifContainsType commits type='refactor'}}
### Refactor

    {{#commits}}
      {{#ifCommitType . type='refactor'}}
 - {{#eachCommitScope .}} **{{.}}** {{/eachCommitScope}} {{{commitDescription .}}} ([{{hash}}](https://github.com/bsorrentino/langgraph4j/commit/{{hashFull}}))
   {{#messageBodyItems}} > {{.}}
   {{/messageBodyItems}}

      {{/ifCommitType}}
    {{/commits}}
{{/ifContainsType}}

{{#ifContainsType commits type='build'}}
### ALM 

    {{#commits}}
      {{#ifCommitType . type='build'}}
 - {{#eachCommitScope .}} **{{.}}** {{/eachCommitScope}} {{{commitDescription .}}} ([{{hash}}](https://github.com/bsorrentino/langgraph4j/commit/{{hashFull}}))
   {{#messageBodyItems}} > {{.}}
   {{/messageBodyItems}}

      {{/ifCommitType}}
    {{/commits}}
{{/ifContainsType}}

{{#ifContainsType commits type='test'}}
### Test 

    {{#commits}}
      {{#ifCommitType . type='test'}}
 - {{#eachCommitScope .}} **{{.}}** {{/eachCommitScope}} {{{commitDescription .}}} ([{{hash}}](https://github.com/bsorrentino/langgraph4j/commit/{{hashFull}}))
   {{#messageBodyItems}} > {{.}}
   {{/messageBodyItems}}

      {{/ifCommitType}}
    {{/commits}}
{{/ifContainsType}}

{{#ifContainsType commits type='ci'}}
### Continuous Integration

    {{#commits}}
      {{#ifCommitType . type='ci'}}
 - {{#eachCommitScope .}} **{{.}}** {{/eachCommitScope}} {{{commitDescription .}}} ([{{hash}}](https://github.com/bsorrentino/langgraph4j/commit/{{hashFull}}))
   {{#messageBodyItems}} > {{.}}
   {{/messageBodyItems}}

      {{/ifCommitType}}
    {{/commits}}
{{/ifContainsType}}


{{/tags}}
